{% extends "new_layout.html" %}
{%block header%}
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-2 mb-3">
      </div>

{%endblock header%}
{% block content %}
<main role="main" class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="content-section">
            <form method="POST" action="">
                {{ form.hidden_tag() }}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Edit Coursework Breakdown</legend>
                    <div class="form-group mb-4">
                        {{ form.title.label(class="form-control-label") }}
                        {{ form.title(class="form-control form-control-lg" ,value = cwk.module.title) }}
                    </div>
                    <div class="form-group mb-4">
                        {{ form.coursework_title.label(class="form-control-label") }}
                        {% if form.coursework_title.errors %}
                            {{ form.coursework_title(class="form-control form-control-lg is-invalid" ,value = cwk.title) }}
                            <div class="invalid-feedback">
                                {% for error in form.coursework_title.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.coursework_title(class="form-control form-control-lg",value = cwk.title) }}
                        {% endif %}
                    </div>
                    <div class="form-group mb-4">
                        {{ form.breakdown.label(class="form-control-label") }}
                        {% if form.breakdown.errors %}
                            {{ form.breakdown(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.breakdown.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.breakdown(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                </fieldset>
                <div class="form-group mb-4">
                    {{ form.submit(class="btn btn-outline-info") }}
                </div>
            </form>
        </div>
    </div>
</div>
</main>
{% endblock content %}