{% extends "layout.html" %}
{% block content %}

    {%for key in user_modules%}
        <h1>{{key.split("/")[0]}}</h1>
        <button class="collapsible">{{key.split("/")[1]}}</button>
        <div class="content">
            {%for element in user_modules[key] %}
                <p>{{element[0]}}, {{element[1]}} people voted for this</p>
            {% endfor %}
        </div>
    {% endfor %}
{%endblock content%}

{% block mods %}
    <h3>Subscribed Modules</h3>
    <ul>
    {%for module in taking%}
        <li><a href="#"><u>{{module.title}}</u></a></li>
    {% endfor %}
    </ul>
    <h3>Available Modules</h3>
    <div class="dropdown">
        <button class="dropbtn">Subscribe Here</button>
        <div class="dropdown-content">
        {%for avail in avail_modules%}
                <a href="/subscribe/{{avail.id}}" +>{{avail.title}}</a>
        {%endfor%}
        </div>
    </div>
{%endblock mods%}

<!-- <h3>Subscribed Modules</h3>
<ul>
    <li><a href="#"><u>Artificial Intelligence</u></a></li>
    <li><a href="#"><u>Machine Learning</u></a></li>
    <li><a href="#"><u>Control Engineering</u></a></li>
</ul> -->
