{% extends "new_layout.html" %}
{%block header%}
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-2 mb-3 border-bottom">
      </div>


{%endblock header%}

{% block content %}
<main role="main" class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="content-section">
          <form method="POST" action="">
              {{ form.hidden_tag() }}
              <fieldset class="form-group">
                  <legend class="border-bottom mb-4">Scheduling and Workload Analysis</legend>
                  <div class="form-group mb-4">
                      {{ form.c1.label(class="form-control-label") }}
                      {% if form.c1.errors %}
                          {{ form.c1(class="form-control form-control-lg is-invalid") }}
                          <div class="invalid-feedback">
                              {% for error in form.c1.errors %}
                                  <span>{{ error }}</span>
                              {% endfor %}
                          </div>
                      {% else %}
                          {{ form.c1(class="form-control form-control-lg") }}
                      {% endif %}
                  </div>
                  <div class="form-group mb-4">
                    {{ form.c2.label(class="form-control-label") }}
                    {% if form.c2.errors %}
                        {{ form.c2(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.c2.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.c2(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group mb-4">
                  {{ form.c3.label(class="form-control-label") }}
                  {% if form.c3.errors %}
                      {{ form.c3(class="form-control form-control-lg is-invalid") }}
                      <div class="invalid-feedback">
                          {% for error in form.c3.errors %}
                              <span>{{ error }}</span>
                          {% endfor %}
                      </div>
                  {% else %}
                      {{ form.c3(class="form-control form-control-lg") }}
                  {% endif %}
              </div>
              <div class="form-group mb-4">
                {{ form.c4.label(class="form-control-label") }}
                {% if form.c4.errors %}
                    {{ form.c4(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.c4.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.c4(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group mb-4">
              {{ form.c5.label(class="form-control-label") }}
              {% if form.c5.errors %}
                  {{ form.c5(class="form-control form-control-lg is-invalid") }}
                  <div class="invalid-feedback">
                      {% for error in form.c5.errors %}
                          <span>{{ error }}</span>
                      {% endfor %}
                  </div>
              {% else %}
                  {{ form.c5(class="form-control form-control-lg") }}
              {% endif %}
          </div>
              </fieldset>
              <div class="form-group mb-4">
                  {{ form.submit(class="btn btn-outline-info") }}
              </div>
          </form>
      </div>
  </div>
</div>
</main>
 

{%endblock content%}

{% block mods %}
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
        <div class="position-sticky pt-3">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link">
                    <span data-feather="users" class="align-text-bottom"></span>
                    {{user.name}}
                </a>
            </li>
            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted text-uppercase">
                <span>Available Modules</span>
              </h6>
                {%for avail in avail_modules%}
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="">
                        <span data-feather="book" class="align-text-bottom"></span>
                        {{avail.id}} - {{avail.title}}
                        </a>
                    </li>
                {%endfor%}

                </div>
            </div>
        </ul>
        </div>
    </nav>
{%endblock mods%}


{% block graph %}
{% if label %}
    <h6>Graph below shows the Intensity of the workload per day. 100 means a student have to do a workload of 1 ECTS on that particular day.</h6>
    {%for name in display%}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-left pt-1 pb-1">
        <h6>{{name}}</h6>
        <div class="btn-toolbar px-1 mb-1 mb-md-0">
          <h6> Start Date: {{display[name][0].strftime("%d/%m/%Y")}}, End Date: {{display[name][1].strftime("%d/%m/%Y")}}</h6>
        </div>
      </div>
    {% endfor %}
  
    <canvas class="my-4 w-100" id="myIDChart" width="900" height="380"></canvas>
{%endif%}
<script>
const ctx = document.getElementById('myIDChart')
    // eslint-disable-next-line no-unused-vars
const myChart = new Chart(ctx, {
  type: 'line',
  data: {
    labels: {{label|safe}},
    datasets: [{
        data: {{date[1]|safe}},
        label: "{{cwk[0]|safe}}",
        borderColor: "#3e95cd",
        fill: false
      },
      {
        data: {{date[2]|safe}},
        label: "{{cwk[1]|safe}}",
        borderColor: "red",
        fill: false
      },
      {
        data: {{date[3]|safe}},
        label: "{{cwk[2]|safe}}",
        borderColor: "green",
        fill: false
      },
      {
        data: {{date[4]|safe}},
        label: "{{cwk[3]|safe}}",
        borderColor: "yellow",
        fill: false
      },
      {
        data: {{date[5]|safe}},
        label: "{{cwk[4]|safe}}",
        borderColor: "cyan",
        fill: false
      },
      {
        data: {{date[0]|safe}},
        label: "Sum of all intervals",
        borderColor: "gray",
        fill: false
      }
    ]
  },
  options: {
    title: {
      display: true,
      text: 'Intensity and workload for students'
    },
    hover: {
     mode: 'index',
     intersect: true
    },
  }
});
</script>
{%endblock graph%}