{% extends "new_layout.html" %}
{% block content %}

    {%for key in user_modules%}
        <h3>{{key.split("/")[0]}}</h3>
        <button class="collapsible">{{key.split("/")[1]}}</button>
        <div class="content">
            {%for element in user_modules[key] %}
            <h6>
                {%if element[2]%}
                <a class="nav-link active" aria-current="page" href="#">
                  {{element[0].strftime('%d %b, %Y')}},   {{element[1]}} has voted for this deadline
                  <span data-feather="thumbs-up" class="align-text-bottom mb-1 mt-1"></span>
                </a>
                <span class="nav-link after" >You picked this</span>
                {% else %}
                <a class="nav-link" aria-current="page" href="/{{key.split("/")[0]}}/{{element[0]}}">
                    {{element[0].strftime('%d %b, %Y')}},   {{element[1]}} has voted for this deadline
                    <span data-feather="thumbs-up" class="align-text-bottom mb-1 mt-1"></span>
                  </a>
                {% endif %}
            </h6>
            {% endfor %}
        </div>
        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted text-uppercase"></h6>
    {% endfor %}
{%endblock content%}


{% block mods %}
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
        <div class="position-sticky pt-3">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link">
                    <span data-feather="users" class="align-text-bottom"></span>
                    Andy
                </a>
            </li>
            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted text-uppercase">
                <span>Subscribed Modules</span>
              </h6>
            {%for module in taking%}
                <li class="nav-item">
                <a class="nav-link" aria-current="page" href="#">
                <span data-feather="book-open" class="align-text-bottom"></span>
                    {{module.id}} - {{module.title}}
                </a>
                </li>
            {% endfor %}
            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted text-uppercase">
                <span>Available Modules</span>
                <a class="link-secondary" href="{{url_for('new_mod')}}" aria-label="Add a new mdoule">
                  <span data-feather="plus-circle" class="align-text-bottom"></span>
                </a>
              </h6>
                {%for avail in avail_modules%}
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/subscribed/{{avail.id}}">
                        <span data-feather="book" class="align-text-bottom"></span>
                            {{avail.title}}
                        </a>
                    </li>
                {%endfor%}

                </div>
            </div>
        </ul>
        </div>
    </nav>
{%endblock mods%}