{% extends "new_layout.html" %}
{%block header%}
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-2 mb-3 border-bottom">
        <p>Deadlines are shown below under each module. Click the Thumbs Up button to vote for a particular deadline you believe is correct and Thumbs Down the ones that you know are wrong. </p>
        <!-- <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group me-2">
            <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
          </div>
          <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
            <span data-feather="calendar" class="align-text-bottom"></span>
            This week
          </button>
        </div> -->
      </div>


{%endblock header%}

{% block content %}

    {%for title in user_modules%}
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2">
            <h3>{{title}}</h3>
            <div class="btn-toolbar px-4 mb-2 mb-md-0">
                <div class="btn-group ml-2">
                <a type="button" class="btn btn-sm btn-outline-secondary" href="/deadline/new/{{title}}">Add New Deadline</a>
                <a type="button" class="btn btn-sm btn-outline-secondary" href="/edit/{{title}}">Edit Module Details</a>
                </div>
            </div>
            </div>
        {%for cw in user_modules[title]%}
        <button class="collapsible">{{cw}}</button>
        <div class="content container">
            <div class = "row">
            <div class = "col-sm article-content">
            {%for element in user_modules[title][cw] %}
            <h6>
                {%if element[3][0] == 1%}
                    {{element[1]}}
                    <a class="bi bi-hand-thumbs-up-fill align-text-bottom" style="font-size: 1.1rem; color: green;" href="/{{title}}/{{cw}}/{{element[0]}}/up"></a>
                    {{element[2]}}
                    <a class="bi bi-hand-thumbs-down align-text-bottom" style="font-size: 1.1rem; color: red;" href="/{{title}}/{{cw}}/{{element[0]}}/down"></a>
                {% elif element[3][0] == 2%}
                    {{element[1]}}
                    <a class="bi bi-hand-thumbs-up align-text-bottom" style="font-size: 1.1rem; color: green;" href="/{{title}}/{{cw}}/{{element[0]}}/up"></a>
                    {{element[2]}}
                    <a class="bi bi-hand-thumbs-down-fill align-text-bottom" style="font-size: 1.1rem; color: red;" href="/{{title}}/{{cw}}/{{element[0]}}/down"></a>
                {%else%}
                    {{element[1]}}
                    <a class="bi bi-hand-thumbs-up align-text-bottom" style="font-size: 1.1rem; color: green;" href="/{{title}}/{{cw}}/{{element[0]}}/up"></a>
                    {{element[2]}}
                    <a class="bi bi-hand-thumbs-down align-text-bottom" style="font-size: 1.1rem; color: red;" href="/{{title}}/{{cw}}/{{element[0]}}/down"></a>
                {% endif %}
                <p class="nav-link mb-1 mt-1">
                  {{element[0].strftime('%d %b, %Y / Time: %H:%M')}} &nbsp&nbsp (
                </p>
                {%if element[3][2]%}
                <i class="bi bi-people-fill" style="font-size: 1.1rem;"></i>
                {% endif %}
                {%if element[3][1]%}
                <i class="bi bi-briefcase-fill" style="font-size: 1.1rem;"></i>
                {% endif %}
                <i class="bi bi-mortarboard-fill" style="font-size: 1.1rem;"></i>
                <span>)</span>

            </h6>
            {% endfor %}
            </div>
            {%for module in taking%}
                {%if module.title == title%}
            <div class = "col-lg d-flex mb-1 mt-1">
              {%for cwk in module.module_cw%}
                {%if cwk.title == cw%}
                  <h6 class="detail-content"><u>Details of Module:</u><br>Worth <a href='/breakdown/{{title}}/{{cw}}'>{{cwk.breakdown}}%</a> of Module<br>{{module.content}}</h6>
                {%endif%}
              {%endfor%}
            </div>
                {%endif%}
            {%endfor%}

        </div>
        </div>
        <div class="d-flex justify-content-start flex-wrap flex-md-nowrap align-items-center pt-1">
            <h6>Students spent an average of <u>{{hours[title][cw][0]}}</u> hours on this coursework, {{hours[title][cw][1]}} votes</h6>
            <div class="btn-toolbar px-4 mb-2 mb-md-0">
                <div class="btn-group ml-2">
                <a type="button" class="btn btn-sm btn-outline-secondary" href="/feedback/{{title}}/{{cw}}">Give Feedback</a>
                </div>
            </div>
            </div>
        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-1 mt-1 mb-1 text-muted text-uppercase"></h6>
        {%endfor%}
        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-2 mt-2 mb-2 text-muted text-uppercase"></h6>
    {% endfor %}
    {%for mod in no_deadline%}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-left pt-3 pb-2">
        <h5>{{mod.title}}</h5>
        <div class="btn-toolbar px-4 mb-2 mb-md-0">
          <div class="btn-group ml-2">
            <a type="button" class="btn btn-sm btn-outline-secondary" href="/deadline/new/{{mod.title}}">Add new deadline</a>
            <a type="button" class="btn btn-sm btn-outline-secondary" href="/edit/{{mod.title}}">Edit Module Details</a>
          </div>
        </div>
      </div>
    {% endfor %}

    <div class="legend-section mt-4">
        <h6>Legend</h6>
        <div class="row">
            <i class="bi bi-people-fill" style="font-size: 1rem;"> - Indicate >50% of people voted for this deadline</i>
        </div>
        <div class="row">
            <i class="bi bi-briefcase-fill" style="font-size: 1rem;"> - Indicate Lecturer set this deadline</i>
        </div>
        <div class="row">
            <i class="bi bi-mortarboard-fill" style="font-size: 1rem;"> - Indicate GTA voted for this deadline</i>
        </div>
    </div>

{%endblock content%}


{% block mods %}
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
        <div class="position-sticky pt-3">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link">
                    <span data-feather="users" class="align-text-bottom"></span>
                    {{user.name}}
                </a>
            </li>
            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted text-uppercase">
                <span>Subscribed Modules</span>
              </h6>
            {%for module in taking%}
                <li class="nav-item">
                <a class="nav-link" aria-current="page">
                <span data-feather="book-open" class="align-text-bottom"></span>
                    {{module.id}} - {{module.title}}
                </a>
                </li>
            {% endfor %}
            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted text-uppercase">
                <span>Available Modules</span>
                <a class="link-secondary" href="{{url_for('new_mod')}}" aria-label="Add a new mdoule">
                  <span data-feather="plus-circle" class="align-text-bottom"></span>
                </a>
              </h6>
                {%for avail in avail_modules%}
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/subscribed/{{avail.id}}">
                        <span data-feather="book" class="align-text-bottom"></span>
                        {{avail.id}} - {{avail.title}}
                        </a>
                    </li>
                {%endfor%}

                </div>
            </div>
        </ul>
        </div>
    </nav>
{%endblock mods%}

{% block graph %}
<!-- <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas>
<script>
const ctx = document.getElementById('myChart')
    // eslint-disable-next-line no-unused-vars
const myChart = new Chart(ctx, {
  type: 'line',
  data: {
    labels: [2,3,4,5,6,7],
    datasets: [{
        data: [1,2,3,4,5,6],
        label: "Alberta",
        borderColor: "#3e95cd",
        fill: false
      }
    ]
  },
  options: {
    title: {
      display: true,
      text: 'Positive Cases of COVID in provinces of Canada'
    },
    hover: {
     mode: 'index',
     intersect: true
    },
  }
});
</script> -->
{%endblock graph%}