{% extends "new_layout.html" %}
{%block header%}
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-2 mb-3 border-bottom">
      </div>


{%endblock header%}
{% block content %}


  {% if attributes %}
    <table class="table table-striped">
      <thead>
        <th>Name</th><th>Hours</th><th>Expectation</th>
      </thead>
      <tbody>
        {% for attr in attributes %}
          <tr><td>{{ attr[0] }}</td>
          <td><ul class="list-unstyled">
            {{ attr[1] }}
          </ul></td>
          <td><ul class="list-unstyled">
            {{ attr[2] }}
          </ul></td></tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <div class="alert alert-danger" role="alert">You don't have any attributes</div>
  {% endif %}

{% endblock %}
