{% extends "new_layout.html" %}
{%block header%}
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-2 mb-3">
      </div>

{%endblock header%}
{% block content %}

    {%for title in teacher_deadlines%}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2">
        <h3>{{title}}</h3>
        <div class="btn-toolbar px-4 mb-2 mb-md-0">
            <div class="btn-group ml-2">
            <a type="button" class="btn btn-sm btn-outline-secondary" href="/deadline/new/{{title}}">Add new deadline</a>
            <a type="button" class="btn btn-sm btn-outline-secondary" href="/edit/{{title}}">Edit Module Details</a>
            </div>
        </div>
        </div>
        {%for cw in teacher_deadlines[title]%}
        <button class="collapsible">{{cw}}</button>
        <div class="content container">
            <div class = "row">
            <div class = "col-sm article-content">
            {%for element in teacher_deadlines[title][cw] %}
            <h6>
                {%if element[2]%}
                <a class="nav-link active" aria-current="page" href="#">
                  {{element[0].strftime('%d %b, %Y, Time: %H:%M')}}, &nbsp&nbsp {{element[1]}} voted for this deadline
                  <span data-feather="thumbs-up" class="align-text-bottom mb-1 mt-1"></span>
                </a>
                <span class="nav-link after" >You picked this</span>
                {% else %}
                <a class="nav-link" aria-current="page" href="/{{title}}/{{element[0]}}">
                    {{element[0].strftime('%d %b, %Y, Time: %H:%M')}},   &nbsp&nbsp {{element[1]}} has voted for this deadline
                    <span data-feather="thumbs-up" class="align-text-bottom mb-1 mt-1"></span>
                  </a>
                {% endif %}
            </h6>
            {% endfor %}
        </div>
        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-1 mt-1 mb-1 text-muted text-uppercase"></h6>
        {%endfor%}
        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-2 mt-2 mb-2 text-muted text-uppercase"></h6>
    {% endfor %}

    {%for title in all_else%}

        <h3>{{title}}</h3>
        {%for cw in all_else[title]%}
        <button class="collapsible">{{cw}}</button>
        <div class="content">
            {%for element in all_else[title][cw] %}
            <h6>
                <a class="nav-link" aria-current="page" href="/{{title}}/{{element[0]}}">
                    {{element[0].strftime('%d %b, %Y, Time: %H:%M')}},   &nbsp&nbsp {{element[1]}} has voted for this deadline
                    <span data-feather="thumbs-up" class="align-text-bottom mb-1 mt-1"></span>
                  </a>
            </h6>
            {% endfor %}
        </div>
        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-1 mt-1 mb-1 text-muted text-uppercase"></h6>
        {%endfor%}
        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-2 mt-2 mb-2 text-muted text-uppercase"></h6>
    {% endfor %}

{%endblock content%}


{% block mods %}
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
        <div class="position-sticky pt-3">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link">
                    <span data-feather="users" class="align-text-bottom"></span>
                    {{user.name}}
                </a>
            </li>
            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted text-uppercase">
                <span>Responsible For:</span>
                <a class="link-secondary" href="{{url_for('teach.new_staff_mod')}}" aria-label="Add a new mdoule">
                    <span data-feather="plus-circle" class="align-text-bottom"></span>
                  </a>
              </h6>
            {%for module in taking%}
                <li class="nav-item">
                <a class="nav-link" aria-current="page" href="#">
                <span data-feather="book-open" class="align-text-bottom"></span>
                    {{module.id}} - {{module.title}}
                </a>
                </li>
            {% endfor %}
            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted text-uppercase">
                <span>Available Modules</span>
              </h6>
                {%for avail in avail_modules%}
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/subscribed/{{avail.id}}">
                        <span data-feather="book" class="align-text-bottom"></span>
                        {{avail.id}} - {{avail.title}}
                        </a>
                    </li>
                {%endfor%}

                </div>
            </div>
        </ul>
        </div>
    </nav>
{%endblock mods%}